.card__grid {
    display: flex;
    flex-flow: column wrap;

    @include breakpoint(medium) {
        flex-direction: row;
    }
}

.card__item {
    background-color: #EAEEF6;
    text-align: center;
    transition: all 0.5s ease;
    width: 100%;
    margin-bottom: 1rem;

    @include breakpoint(medium) {
        width: calc((100% / 3) - 2rem);
        margin: 1rem;
    }

    &:hover {
        background-color: lighten(#EAEEF6, 2%);
    }
}

.card__link {
    display: block;
    padding: 2rem;

    &:hover {
        text-decoration: none;
    }
}

.card__title {
    margin: 0;
    display: inline-block;

    &.icon-title {
        padding-right: 1rem;
    }
}

.card__icon {
    height: 2rem;
    width: auto;
    margin-top: 0.5rem;
}
