.references {
    background-color: #EAEEF6;
    overflow: auto;
    padding: 2rem 0.25rem;

    @include breakpoint(medium) {
        padding: 2rem;
    }
}

.references__table {
    width: 100%;
    min-width: 40rem;
    border-collapse: collapse;
}

.references__thead {
    background-color: $primary;
    border-radius: 0.4rem 0.4rem 0 0;
}

.references__heading {
    font-weight: 400;
    font-size: 1.15rem;
    padding: 1rem;
    text-align: left;

    &:first-of-type {
        border-radius: 0.4rem 0 0 0;
    }

    &:last-of-type {
        width: 4rem;
        border-radius: 0 0.4rem 0 0;
    }
}

.references__row {
    background-color: $white;
    border-bottom: 1px solid $grey;
}

.references__cell {
    padding: 0.75rem 1rem;
}