.topbar {
    height: 3.75rem;
    background-color: #3F4A59;
    position: relative;
    z-index: 2;

    @include breakpoint(medium) {
        display: none;
    }
}

.topbar__logo {
    position: absolute;
    height: 2.625rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.topbar__toggle-sidebar {
    display: inline-block;
    height: 100%;
    width: 2.5rem;
    background-color: transparent;
    border: none;
    outline: none;
    margin: 1rem 1.5rem;
    box-sizing: border-box;
    @include icon('hamburger', 'sidebar');
    background-position: contain;

    &.active {
        @include icon('close', 'sidebar');
    }
}