.icon-title {
    position: relative;
    padding-left: 3.625rem;
    margin-bottom: 0;
    line-height: 1.4;

    &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 2.625rem;
        height: 2.625rem;
        background-size: 100% 100%;
    }
}

.icon-title--project:before {
    @include icon('project');
}

.icon-title--references:before {
    @include icon('book');
}

.icon-title--milestones:before {
    @include icon('lightning');
}

.icon-title--timeline:before {
    @include icon('calendar-black');
}