body {
    @include breakpoint(medium) {
        box-sizing: border-box;
        min-height: 100vh;
    }

    &.overlay {
        &:after {
            content: '';
            position: fixed;
            z-index: 9;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: rgba($black, 0.7);
        }
    }

    &.sidebar-visible {
        overflow: hidden;

        &:after {
            z-index: 1;
            @extend .overlay:after;
        }

        @include breakpoint(medium) {
            overflow: visible;

            &:after {
                content: none;
            }
        }
    }
}