/* Brand colours */
$primary: #68DDD5;
$secondary: #8294D6;

$warn: #FC9FA9;
$danger: #DB3333;

/* General colours */
$white: #ffffff;
$grey: #EAEEF6;
$black: #000000;

/* Element colours */
$font-color: #000000;