.main {
    padding-top: 1.625rem;

    @include breakpoint(medium) {
        padding-top: 4rem;
    }
}

.main-content {
    margin-top: 1.625rem;

    @include breakpoint(medium) {
        margin-top: 2.375rem;
    }
}