.page {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
  
.page-body {
    flex: 1;
    display: flex;
}

.content {
    flex: 1;
    max-width: 100%;

    @include breakpoint(medium) {
        flex: 1;
    }
}